

<h1>This is the Landing Page</h1>



<div id="main"></div>

<script type="html/template" id="appViewTemplate">
  <h1>Book a flight</h1>
  
  <div id="searchForm">
    form goes here
  </div>

  <ul id="flightLists">
    flight list goes here
  </ul>

  <ul id="seatingPlan">
    seating plan goes here
  </ul>  
</script>

<script type="html/template" id="searchInputViewTemplate">

  <select name="Travel Origin" id="originSelect"></select>
  <select name="Travel Destination" id="destinationSelect"></select>
  <button>Search Flights</button>
  
</script>

<script id="flightView" type="text/template">
  <h1>{{ flightnumber }}</h1>
</script>

<script type="html/template" id="seatingViewTemplate">
<p>someText</p>
</script>