
  <section id="headerSection">
    <div id="main"></div>
  </section>


<script type="html/template" id="appViewTemplate">
      <div id="headerContainer">
        <h1>
          Welcome to Burning Airlines
        </h1>
        <p id="headerP">
          Searching for a flight
        </p>
    
  <div id="searchForm">
    form goes here
  </div>
  </div>
    <div id="PageContainer">
      <div id="ContentContainer">
      <ul id="flightLists">
        <p>Search for a flight to continue</p>
      </ul>
      <ul id="seatingPlan">
      </ul>
    </div>
</script>

<script type="html/template" id="searchInputViewTemplate">

  <select name="Travel Origin" id="originSelect"></select>
  <select name="Travel Destination" id="destinationSelect"></select>
  <button id="searchButton">Search</button>
  
</script>

<script id="flightView" type="text/template">
  <div id="headerContainer">
    <h1>{{ flightnumber }}</h1>
  </div>
  <div id="PageContainer">
    <div id="ContentContainer">
      <h2>{{ flightnumber }}</h2>
      <p>Date: {{ date }}</p>
      <p>Origin: {{ origin }}</p>
      <p>Destination: {{ destination }}</p>
  </div>
</script>

<script id="seatView" type="html/template">

</script>




